

<div class="container">
    <div class="mt-4">
    <h3>CREATE COURSE</h3>

    <form method="POST" action="/courses/store">
  <div class="mb-3">
    <label for="name" class="form-label">Course name</label>
    <input type="text" class="form-control" id="course-name" name="name">
  </div>
  <div class="mb-3">
    <label for="des" class="form-label">Course description</label>
    <input type="text" class="form-control" id="course-des" name="des">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" class="form-control" id="course-image" name="image">
  </div>
  <div class="mb-3">
    <label for="slut" class="form-label">Slut</label>
    <input type="text" class="form-control" id="course-slut" name="slut">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>
</div>

