<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
          <h2>{{course.name}}</h2>
          <h3>{{course.des}}</h3>
            <button class="btn btn-primary">Learn</button>
        </div>
        <div class="col-lg-9">
            <h2>Xay dung</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8iuLXODzL04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>